.card {
  display: flex;
  flex-direction: row;
  border: 1px solid #dadde1;
  border-radius: 20px;
  padding: 24px;
  width: 100%;
  height: 368px;

  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease-in-out;
  margin: 20px auto;
  cursor: pointer;
}

.card:hover {
  transform: scale(1.03);
}

.imageContainer {
  width: 292px;
  height: 320px;
  border-bottom: 1px solid #eee;
  border-radius: 10px;
}

.infoContainer {
  padding: 0px 16px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  flex: 1;
  display: flex;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  font-size: 1.5rem;
  font-weight: 600;
}

.price {
  font: 600 24px / 1.33333 "Inter", sans-serif;
}

.currency,
.perDay {
  font: 600 24px / 1.33333 "Inter", sans-serif;

  margin-left: 13px;
}

.ratingLocation {
  display: flex;
  justify-content: flex-start;
  gap: 20px;
  align-items: center;
}

.rating_text,
.location {
  display: flex;
  align-items: center;
  gap: 4px;
  font-size: 0.95rem;
}

.icon {
  width: 18px;
  height: 18px;
  fill: currentColor;
}

.description {
  font-size: 0.95rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 500px;
  margin-top: 6px;
  margin-bottom: 6px;
}

.type,
.availability {
  font-size: 0.9rem;
}
.feature {
  display: flex;

  flex-wrap: wrap;

  align-items: center;
  gap: 8px;
  font-size: 0.9rem;
}
.featureIcon {
  width: 16px;
  height: 16px;
  fill: currentColor;
}
.rating_text {
  display: flex;
  align-items: center;
  gap: 4px;
}
.ShowMoreButton_wrapper {
  display: flex;
  justify-content: left;
  align-items: center;
  width: 100%;
  margin-top: 24px;
}
@media screen and (max-width: 375px) {
  .card {
    flex-direction: column;
    height: auto;
  }
  .imageContainer {
    width: 100%;
    height: auto;
  }
  .infoContainer {
    padding: 16px;
  }
  .description {
    width: 100%;
  }
}
@media screen and (max-width: 768px) {
  .card {
    flex-direction: column;
    height: auto;
  }
  .imageContainer {
    width: 100%;
    height: auto;
  }
  .infoContainer {
    padding: 16px;
  }
  .description {
    width: 100%;
  }
}
