.reviews_container {
  display: flex;
  flex-direction: column;
  gap: 44px;
  padding: 44px 52px;

  height: 100%;

  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: var(--transition);
  &:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transform: translateY(-2px);
  }
}

.review_card {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 24px;
  background-color: var(--color-inputs);
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: var(--transition);
}

.review_header {
  display: flex;
  align-items: center;
  gap: 16px;
}

.avatar {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.33;
  color: var(--color-button);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 60px;
  width: 60px;
  height: 60px;
  background-color: var(--color-inputs);
}

.reviewer_title {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.reviewer_name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: var(--color-main);
}

.icon {
  width: 16px;
  height: 16px;
}

.comment,
.no_reviews {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: var(--color-text);
}
.rating {
  display: flex;
  flex-direction: row;
  gap: 4px;
}
@media screen and (max-width: 768px) {
  .reviews_container {
    padding: 24px;
  }

  .review_card {
    padding: 16px;
  }
}
@media screen and (max-width: 375px) {
  .reviews_container {
    padding: 16px;
  }
}
