.burger {
  font-size: 1.8rem;
  background: none;
  border: none;
  color: #333;
  cursor: pointer;
  z-index: 1002;
  position: relative;
}

.menu {
  position: fixed;
  top: 0;
  right: -100%;
  width: 75%;
  max-width: 160px;
  height: 30vh;
  background-color: rgba(0, 0, 0, 0.7);
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.2);
  transition: right 0.3s ease-in-out;
  padding: 2rem 1.5rem;
  z-index: 1001;
}

.menu.open {
  left: 0;
  top: 74px;
}

.menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.menu li a {
  text-decoration: none;
  color: #dfd3d3;
  font-size: 1rem;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 1000;
  animation: fadeIn 0.3s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media screen and (min-width: 768px) {
  .burger {
    display: none;
  }
}
.fadeIn {
  animation: fadeSlideIn 0.4s ease forwards;
  opacity: 0;
  transform: translateX(20px);
}

@keyframes fadeSlideIn {
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
