.button {
  border-radius: 200px;
  padding: 16px 60px;
  width: 166px;
  height: 56px;
  background: radial-gradient(circle at center, #f11919 0%, #ae2d4f 70%);
  font: 500 16px "Inter", sans-serif;

  color: #fff;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  white-space: nowrap;
}
.button:hover {
  background: radial-gradient(circle at center, #f11919 0%, #ae2d4f 50%);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transform: translateY(-2px);
}
