.logo {
  position: absolute;
  left: 64px;
  width: 136px;
  height: 16px;
}
.Logo_wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
.Logo_wrapper:hover {
  cursor: pointer;
}
.logovf {
  width: 56px;
  height: 76px;
  position: absolute;
  left: 0px;
}
@media screen and (max-width: 768px) {
  .logo {
    width: 126px;
    height: 14px;
  }
}

@media screen and (max-width: 375px) {
  .logo {
    width: 104px;
    height: 12px;
  }
}
