.logo {
  position: absolute;
  left: 64px;
  width: 136px;
  height: 16px;
}

@media screen and (max-width: 768px) {
  .logo {
    width: 126px;
    height: 14px;
  }
}

@media screen and (max-width: 375px) {
  .logo {
    width: 104px;
    height: 12px;
  }
}
