.link {
  color: #101828;
  font: 500 16px / 1.5;
  text-decoration: none;
}
.activeLink {
  color: #d84343;
}
.wrapper {
  display: flex;
  position: fixed;
  border-bottom: 1px solid #f2f4f7;
  max-width: 1440px;
  height: 72px;
  background: #f7f7f7;
  align-items: center;
  justify-content: center;
  position: relative;
}
.wrapperLinks {
  display: flex;
  align-items: center;
  gap: 32px;
  justify-content: center;
}
.MobileMenu {
  position: absolute;
  left: 16px;
  top: 20px;
}
@media screen and (max-width: 768px) {
  .wrapperLinks {
    display: none;
  }
}
@media screen and (max-width: 375px) {
  .wrapperLinks {
    display: none;
  }
}
