.Input {
  border-radius: 12px;
  width: 360px;
  height: 56px;

  color: #101828;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  margin-top: 8px;
  border: none;
}
.Label {
  font: 400 16px / 1.5 "Inter", sans-serif;
  color: #6c717b;
}
.Form {
  display: flex;
  flex-direction: column;
  margin-top: 32px;
  width: 360px;
  height: auto;
}
.item {
  border: 1px solid #dadde1;
  border-radius: 12px;
  width: 112px;
  height: 96px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  &:hover {
    border: #e44848 1px solid;
    cursor: pointer;
    color: #e44848;
    transform: scale(1.05);
    transition: all;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
  }

  &.active {
    border: #e44848 1px solid;
    color: #e44848;
  }
}
.item_container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 8px;
  width: 360px;
}
.p {
  font: 500 16px / 150% "Inter", sans-serif;
  letter-spacing: -0.01em;
  text-align: center;
  color: #101828;
  margin-top: 8px;
}
.button {
  border-radius: 200px;
  padding: 16px 60px;
  width: 166px;
  height: 56px;
  background: radial-gradient(circle at center, #f11919 0%, #ae2d4f 70%);

  color: #f7f7f7;
  border: none;
  cursor: pointer;
  margin-top: 40px;
}
.line {
  margin-top: 24px;
  margin-bottom: 24px;
}
.title {
  font: 600 20px / 120% "Inter", sans-serif;

  text-align: left;
  margin-top: 32px;
}
.filter_section {
  width: 360px;
  height: auto;
}
.item_active {
  color: green;
  transform: scale(1.1);
}
.item_inactive {
  transform: scale(1);
}
.filter {
  font: 500 16px / 150% "Inter", sans-serif;

  letter-spacing: -0.01em;
  text-align: center;
  margin-top: 40px;
  text-align: left;
  cursor: pointer;
  transition: color 0.3s ease, transform 0.3s ease;
}
@media screen and (max-width: 768px) {
  .Input {
    width: 100%;
  }
  .Form {
    width: 100%;
  }
  .item_container {
    width: 100%;
  }
  .filter_section {
    width: 100%;
  }
}
@media screen and (max-width: 375px) {
  .Input {
    width: 100%;
  }
  .Form {
    width: 100%;
  }
  .item_container {
    width: 100%;
  }
  .filter_section {
    width: 100%;
  }
  .title {
    text-align: center;
    margin-bottom: 0.5rem;
  }
  .line {
    display: none;
  }
  .item {
    width: 72px;
    height: 68px;
  }
  .p {
    font-size: 10px;
  }
  .button {
    padding: 10px 30px;
    width: 100%;
    height: 42px;
  }
}
