.BookingsFavorites {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 1rem;

  border-radius: 8px;
  margin-top: 24px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}
.exploreButton {
  padding: 0.5rem 1rem;

  color: white;
  border: none;
  width: 200px;
  border-radius: 200px;
  font-size: 1rem;
  padding: 0.8rem 1.5rem;
  cursor: pointer;

  transition: background-color 0.3s ease;
  &:hover {
    background-color: #27c22c;
  }
}
.clearButton {
  background-color: #e44848;
  color: white;
  border: none;
  width: 200px;
  border-radius: 200px;
  font-size: 1rem;
  padding: 0.8rem 1.5rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  &:hover {
    background-color: #d32f2f;
  }
}
.buttons {
  display: flex;
  gap: 1rem;
  justify-content: center;
  margin-top: 1rem;
  flex-direction: row;
}
@media screen and (max-width: 768px) {
  .buttons {
    flex-direction: column;
  }
}
@media screen and (max-width: 375px) {
  .buttons {
    flex-direction: column;
  }
}
