@import "tailwindcss";

body {
  font-family: "Inter", sans-serif;
  background-color: var(--color-white);
  color: var(--color-main);
  margin: 0;
  --color-black-theme: #101828;
  --color-main: #101828;
  --color-text: #475467;
  --color-gray: #6c717b;
  --color-button: #e44848;
  --color-button-hover: #d84343;
  --color-yellow: #ffc531;
  --color-gray-light: #dadde1;
  --color-inputs: #f2f4f7;
  --color-badges: #f7f7f7;
  --color-white: #ffffff;
  --transition: all 0.3s ease;
}
body.theme-light {
  background-color: var(--color-white);
  color: var(--color-main);
}

/* dark theme */
body.theme-dark {
  background: #9c9c9c;

  color: var(--color-white);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

ul {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
  transition: var(--transition);
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
